#errorMessage {
    color:red;
    margin: 20px 0 20px 0;
    font-weight: bold;
}

h1 {
    color:skyblue;
    margin-top: 50px;
    margin-bottom: 50px;
}

button:hover {
    background-color: grey; 
    color: white;
}

h2 {
    color: skyblue;
}

.färdiga {
    margin-top: 20px;
}